/** HTML5/CSS3, EDGE/CHROME                                  *** Styles.css ***

 ******************************************************************************
 * ittve.pw                                        Определить начальные стили *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  25.11.2018
 Copyright © 2018 tve                                Посл.изменение: 25.11.2018
*/

/* Оформляем шапку */
#onedi
{
   //background: blue;  
}
#twodi
{
   background: radial-gradient(farthest-side ellipse at top left,#d7d0c5 0,#f9f6f1 100%);  
}
button
{
   height: 6rem;
   width: 8rem;
}
.prev
{
   height: 3rem;
   width: 5rem;
}
i
{
   color: red;
}
